<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1> <%= t('mailboxer.message_mailer.header_reply', subject: @subject ) %> </h1>
    <p>
      <%= t('mailboxer.message_mailer.reply_message') %>
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      <%= t('mailboxer.message_mailer.visit') %> <%= link_to root_url, root_url %> <%= t('mailboxer.message_mailer.more_info') %>
    </p>
  </body>
</html>
